
@{
    ViewData["Title"] = "Home Page";
   
}


            <!------------------pour le nom de page---------------->

            <div style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="nompage">
                <ol class="breadcrumb lispage">
                    <li class="breadcrumb-item active" aria-current="page">Administrateur</li>
                    <li class="breadcrumb-item "><a href="home.html">Home</a></li>

                </ol>
            </div>


            <!--------------------------------------------pour les card in content main-->
            <!--------------------------------pour les deux table-------------------------->
            <div class="details">
                <div class="recentorder">
                    <div class="cardorder">
                        <h2>Les Nombre :</h2>

                    </div>

                    <div class="cardboxes">
                        <div class="cardes">
                            <div>
                                <div class="numberses">10000</div>
                                <div class="cardnames">Les Stagiaires</div>
                            </div>
                            <div class="iconbx">
                                <i class="fa-solid fa-users icones"></i>
                            </div>
                        </div>
                        <div class="cardes">
                            <div>
                                <div class="numberses">100</div>
                                <div class="cardnames">Les apprentisages</div>
                            </div>
                            <div class="iconbx">
                                <i class="fa-solid fa-user-group icones"></i>
                            </div>
                        </div>
                        <div class="cardes">
                            <div>
                                <div class="numberses">105</div>
                                <div class="cardnames"> demande  satge</div>
                            </div>
                            <div class="iconbx">
                                <i class="fa-solid fa-message icones"></i>
                            </div>
                        </div>
                        <div class="cardes">
                            <div>
                                <div class="numberses">1800</div>
                                <div class="cardnames">Les encadreur</div>
                            </div>
                            <div class="iconbx">
                                <i class="fa-solid fa-user"></i>
                            </div>
                        </div>
                    </div>
                </div>



                <!-----------------------des message-------------------->

                <div class="recentmessage">


                    <div class="clock">
                        <div class="heur">
                            <div class="hr" id="hr"></div>
                        </div>
                        <div class="minut">
                            <div class="min" id="min"></div>
                        </div>
                        <div class="second">
                            <div class="sec" id="sec"></div>
                        </div>
                    </div>
                    <!----------------digital clock------------->
                    <div id="time" class="timedigital">
                        <div id="heur" style=" --clr: #f5821f;"></div>
                        <div id="minute" style=" --clr: #000;"></div>
                        <div id="secound" style=" --clr: #000;"></div>
                    </div>

                    <div id="date" class="datetimes">
                        <span id="day">01</span>
                        <span id="mounth">12</span>
                        <span id="year">2001</span>
                    </div>


                </div>





            </div>






       